*.gem
*.rbc
*.swp
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
keys/private
keys/public
scripts
test/tmp
test/version_tmp
tmp
agreements

# YARD artifacts
.yardoc
_yardoc
doc/
